.userFilter {
  margin: 10px 0 !important;
}

.root {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.dialogs, .messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - (60px + 48px + 32px));
  overflow: auto;

  .loadMore {
    color: lightskyblue;
    cursor: pointer;
    text-align: center;
  }
}

.messages {
  img {
    max-width: 400px;
    cursor: pointer;
  }

  .emptyDialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
