.root {
  padding: 20px;
  padding-bottom: 100px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  :global .MuiImageList-root {
    overflow: visible;
  }

  :global .MuiImageListItem-item:hover {
    overflow: visible;
    z-index: 999;
    transition: 1s overflow;
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
.image {
  margin: auto;
}

.textFieldsContainer {
  display: grid;
  gap: 15px 10px;
  grid-template-columns: repeat(2, 1fr);
}

.textField {
  display: flex;
  flex-direction: column;

  &Label {
    color: gray;
    font-size: 13px;
  }
  &Value {
    font-size: 18px;
  }
}

.referenceField {
  display: flex;
  align-items: center;
  gap: 10px;

  :global .MuiAvatar-root {
    width: 28px;
    height: 28px;
  }

  &.bigReferenceField {
    :global .MuiAvatar-root {
      width: 40px;
      height: 40px;
    }
  }
}
